  * {
      box-sizing: border-box;
  }

  a{
    text-decoration: unset!important;
  }

  body ,html{
      margin: auto;
      height: 100%;
      font-size: 13px;
    background: #fff;
    color: #000;
    padding: 0;
    font-family: sans-serif;

  }
  li{
    list-style: none;
  }
 /*-----------------------------------------------------navbar------------------------------*/
  #search{
    
    position: relative;
    left: -26px;
  }
 #navtop input{
  width: 300px;
 }
 #login{
  text-transform: uppercase;
    font-weight: 700;
    border: 1px solid;
    background: #007bff;
}

  #navbottom ul li {
        font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
  }
   #navtop{
        border-radius: 5px 49px 5px;
  
border:1px solid #FAFAFA;
width: 70%;
    position: relative;
    left: 17%;
   }
   #navtop a{
color: #fff!important;
font-size: 16px;

   }
   li.nav-item.active a{
    color: #007bff!important;
   }
   #fixed-top{
    background: #fff;
   }

/*   ------------------------// carousel---------------------*/


#slider{

    
    margin-top: 125px;
}
.swiper-slide {
    min-height: 300px;
    text-align: center;
}

.slider-container {
    padding: 100px;
}
.swiper-container{
  width: 100%;
  height: 500px;
}


.slider-sub-title {
    font-size: 30px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 9.2px;
    color: #ffffff;
}

.slider-title {
    font-size: 70px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1.03px;
    color: #ffffff;
    padding: 50px 0px;
    opacity: 1;
}






.slider-buttton {
    font-weight: 600;
    letter-spacing: 1.29px;
    border: solid 1px #ffffff;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 30px;
    text-decoration: none;
}



.slide-1 {
    background: url("https://image.freepik.com/free-photo/workplace-results-professional-report-accounting-during_1418-61.jpg");
    background-size: cover;
    background-position: center;
}

.slide-2 {
     background: url('https://image.freepik.com/free-photo/piggy-bank-golden-dollar-coins_81724-345.jpg');

    background-size: cover;
    background-position: center;
}

.slide-3 {
      background: url("https://image.freepik.com/free-vector/bitcoin-blockchain-digital-coin-crypto-currency-concept-background_1017-30307.jpg");

    background-size: cover;
    background-position: center;
}


.slider-buttton {
    display: inline-block;
}

.swiper-slide-active .slider-sub-title {
    animation: rollIn 1s;
}

.swiper-slide-active .slider-title {
    animation: fadeInUp 1.5s;
}
.swiper-slide-active.slide-2 .slider-title {
    animation: fadeInRight 1.5s;
}
.swiper-slide-active.slide-3 .slider-title {
    animation: fadeInLeft 1.5s;
}


.swiper-slide-active .slider-buttton {
    animation: zoomIn 2s;
}

/*products*/
.owl-next,.owl-prev{
  font-size: 36px!important;
    width: 34px;
    color: #007bff!important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #007bff;
    color: #FFF!important;
    
}
i{
  color: #007bff;
}
#products .card:hover i{
  background: #007bff;
  color: #fff;

}
#products .card{
padding: 10px 0;
  margin: 10px;
  text-align: center;
  height: 100px;
}
#products .card:hover {
  cursor: pointer;
  background: #007bff;
  color: #fff;
}
#products ul{
  position: relative;
  right: 18px;
}
/*account*/
#account{
  background: #FAFAFA;
}
#img .col-md-9{
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}
#account #img img{
      width: 60px;
      padding: 5px;
border: 1px solid #007bff;
background: #007bff;
border-radius: 50px;
margin-bottom:  10px;
}
/*contact*/
#contact li h3{
  position: relative;
    left: -35px;
}
#contact,#contact i {
  background: #007bff;
  color: #fff;
}
#barcode{
  width: 250px;
    background: white;
}
#contact ul li h3{
line-height: 63px;
}
#contact button{
  font-size: 20px;
  color: #007bff;
  background: #fff!important;

}
.service .card{
    box-shadow: 10px 10px 8px -4px #7777774d;
}


}
#contact button:hover{
 background: #007bff!important;
  color: #fff; 
  border: 1px solid #fff;
}
.card-img-top{
  padding: 10px;
}
#toprow{
      margin-top: -68px;

}
.card-title{
  text-transform: uppercase;
}
/*footer*/

footer{
width:100%;
background-color:#000;
padding-top:30px;
font-family: 'Open Sans', sans-serif;
}

footer .column{
width:17%;
display:inline-block;
vertical-align:top;
padding:10px;
}

footer .column .footer_title{
color:#fff;
font-size:1em;
font-weight:700;
cursor:default;
}

footer .column a{
text-decoration:none;
display:block;
color:gray;
font-size:0.9em;
padding:5px 0;
font-weight:400;
transition:0.5s;
}

footer .column:not(:first-child) a:hover{
color:#fff;
}

footer .column:nth-child(4) a:not(:first-child){
margin:5px;
display:inline-block
}

footer .column:nth-child(1) a:nth-child(3),footer .column:nth-child(1) a:nth-child(4),footer .column:nth-child(1) a:nth-child(5){
display:inline-block;
margin:10px;
font-size:1.3em;
background:#fff;
width:28px;
height:28px;
text-align:Center;
border-radius:50%;
padding:5px;
}

footer .column:nth-child(1) .fa-facebook{
color:#3B5998;
}

footer .column:nth-child(1) .fa-instagram{
color:#d62977;
}

footer .column:nth-child(1) .fa-twitter{
color:#3399ff;
}

.sub-footer{
background:#1e1e1e;
width:100%;
padding:5px 0;
text-align:center;
color:gray;
font-size:12px;
}
footer img{
  width: 60px;
}
/*media queries*/
@media (max-width:767px){
.slider-title{
  font-size: 25px;
}
.slider-title{
  font-size: 20px;
}


.slider-container {
    padding: 131px 0;
}
#navtop input {
width: unset;
}
}
@media (max-width:900px){
footer .column:nth-child(1) a:nth-child(3),footer .column:nth-child(1) a:nth-child(4),footer .column:nth-child(1) a:nth-child(5){
width:23px;
height:23px;
font-size:1.1em;
margin:6px;
}
}


@media (max-width:820px){
footer .column:nth-child(1){
width:95%;
display:block;
}
footer .column:not(:first-child){
width:40%;
}
footer .column:nth-child(4),footer .column:nth-child(5){
width:95%;
display:block;
}
footer .column:nth-child(1) a:nth-child(3),footer .column:nth-child(1) a:nth-child(4),footer .column:nth-child(1) a:nth-child(5){
width:28px;
height:28px;
font-size:1.3em;
}
}